.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    height: 400px;
}
.secondWrapper{
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid gray;
    border-radius: 10px;
}
.imageWrapper{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.imageWrapper img{
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}
.textWrapper{
    width: 80%;
}
.editWrapper{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priceWrapper{
    width: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
}
.price{
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
}
.mainText{
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}
.countWrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.countInput{
    border-radius: 10px;
    border: 2px solid rgb(129, 129, 129);
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: inner-spin-button !important;
  opacity: 1 !important;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: black !important;
  border: 2.5px solid black !important;

}